SIP_PROVIDER=telair
SIP_AUTH_ID=replace-me-locally
SIP_AUTH_PASSWORD=replace-me-locally
SIP_DOMAIN=sip.telair.net.au
SIP_PORT=5060
SIP_TRANSPORT=udp
SIP_DID_RANGE=0734952900-2999
SIP_INBOUND_CALLER_ID_FORMAT=0NSN
SIP_REQUEST_E164=false
SIP_TEST_TARGET_NUMBER=
SIP_TEST_DIRECTION=outbound
SIP_SOFTPHONE=microsip
SIP_NOTES=
