<drachtio>
  <admin port="9022" secret="__DRACHTIO_SECRET__">0.0.0.0</admin>
  <sip>
    <contacts>
      <contact>sip:drachtio-server:5060;transport=udp,tcp</contact>
    </contacts>
  </sip>
  <logging>
    <loglevel>info</loglevel>
    <sofia-loglevel>3</sofia-loglevel>
  </logging>
</drachtio>
